{% extends 'base.html.twig' %}

{% block title %}Stripe Payment Gateway{% endblock %}

{% block body %}

    <section class="relative py-20">
        <div class="container mx-auto px-4 text-center">
            <nav aria-label="Breadcrumb" class="pb-8">
                <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                    <li>
                        <div class="flex items-center">
                            <a href="/filme" class="mr-2 text-sm font-medium text-gray-900">Filme</a>
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
                                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                            </svg>
                        </div>
                    </li>

                    <li>
                        <div class="flex items-center">
                            <a href="/movie/{{ movie['id'] }}" class="mr-2 text-sm font-medium text-gray-900 hover:text-indigo-500">{{ movie['title'] }}</a>
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
                                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                            </svg>
                        </div>
                    </li>

                    <li class="text-sm">
                        <span aria-current="page" class="font-medium text-indigo-500">Rezervare locuri</span>
                    </li>
                </ol>
            </nav>
            <div class="flex justify-center items-center">
                <div class="card">
                    <div class="card-body">
                        {% for message in app.flashes('success') %}
                            <div
                                    style="color: green;
                                    border: 2px green solid;
                                    text-align: center;
                                    padding: 5px;margin-bottom: 10px;">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <form id='checkout-form' method='post' action="{{ path('app_stripe_charge') }}">
                            <input type='hidden' name='stripeToken' id='stripe-token-id'>
                            <input type='hidden' name='booking_id' id='booking_id' value="{{ booking_id }}">
                            <label for="card-element" class="mb-5">Checkout Forms</label>
                            <br>
                            <div id="card-element" class="form-control"></div>
                            <button
                                    id='pay-btn'
                                    class="btn btn-success mt-3"
                                    type="button"
                                    style="margin-top: 20px; width: 100%;padding: 7px;"
                                    onclick="createToken()">PAY $50
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="relative py-20">
        <div class="container mx-auto px-4 text-center">
            <div class="py-8">
                <h1 class="text-4xl font-bold">Stripe Payment Gateway</h1>
            </div>
            <div class="flex justify-center items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-4">

                        </div>
                    </div>
                </div>

                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe("{{ stripe_key }}");
                    var elements = stripe.elements();
                    var cardElement = elements.create('card');
                    cardElement.mount('#card-element');

                    function createToken() {
                        document.getElementById("pay-btn").disabled = true;
                        stripe.createToken(cardElement).then(function (result) {


                            if (typeof result.error != 'undefined') {
                                document.getElementById("pay-btn").disabled = false;
                                alert(result.error.message);
                            }

                            // creating token success
                            if (typeof result.token != 'undefined') {
                                document.getElementById("stripe-token-id").value = result.token.id;
                                document.getElementById('checkout-form').submit();
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </section>

{% endblock %}
