{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


    <div class="well well-small my_account_menu">
        <h1>Contul meu</h1>
        <ul>
            <li><a href="user_profile">Date personale</a></li>
            <li><a href="bookings">Rezervarile mele</a></li>
            <li><a href="bilete">Biletele mele</a></li>
            <!-- <li><a href="user/loyalty">Puncte Fidelizare</a></li> -->
            <li><a href="change-password">Schimba parola</a></li>
            <li><a href="logout">Logout</a></li>
            {{ path('app_forgot_password_request') }}
        </ul>
    </div>

<div class="example-wrapper">

    {{ form_errors(changePasswordForm) }}
    {{ form_start(changePasswordForm) }}

    <div class="mt-8 max-w-md">
        <div class="grid grid-cols-1 gap-6">
            {{ form_row(changePasswordForm.password, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50'}}) }}

            <button type="submit" class="btn bg-blue-400 text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded  lg:mr-1 lg:mb-0 ml-3 mb-3">Register</button>
        </div>
    </div>

    {{ form_end(changePasswordForm) }}
</div>
{% endblock %}
