{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <img style="width: 100px"

            src="{{ movie['poster_path'] }}"
    />

    <h3 class="text-3xl font-semibold">{{ movie['title'] }}</h3>
    <p class="mt-4 text-lg leading-relaxed text-gray-600">
        {{ movie['overview'] }}
    </p>

    {% for genre in movie['genres'] %}
        {{ genre.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}


    {% for actor in movie['cast'] %}


        <!-- <img class="inline object-cover h-10 w-10 rounded-full"
                                                             src="https://image.tmdb.org/t/p/w92/{{ actor['profile_path'] }}"
                                                             alt="Image Description"/> -->

        {{ actor['name'] }}{% if not loop.last %}, {% endif %}



    {% endfor %}


    {% for keyword in movie['keywords'] %}
        {{ keyword['name'] }}{% if not loop.last %}, {% endif %}
    {% endfor %}


    <div class="mt-6 flex gap-3 border-b border-gray-200 pb-5 pt-5">
        <a href="/seats/{{ movie.id }}"
           class="bg-blue-400 border border-primary text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-primary transition">
            <i class="fa-solid fa-ticket"></i> Select seats
        </a>

        <form action="/wishlist/add" method="POST">
            <input type="hidden" id="movie_id" name="movie_id" value="{{ movie['id'] }}" />
            {#                        <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}" />#}
            <button type="submit" class="border border-gray-300 text-gray-600 px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:text-primary transition">
                <i class="fa-solid fa-heart"></i> Wishlist
            </button>
        </form>
    </div>






{% endblock %}